.cover {
  max-width: 1184px;
  height: 740px;
  padding: 0;
  padding-top: 92px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    height: 62.5vw;
    padding-top: 90px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-width: 768px;
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 60px;
    min-width: 320px;
  }
}