.place__link {
  max-width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  text-underline-position: under;
  color: white;
}
.place__link:hover {
  opacity: 80%;
}